@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orange-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #F59E0B;
    margin-top: 90px;
}

.widthAndPadding {
    width: 1200px;
    padding-left: 120px;
}

.w-50 {
    width: 50% !important;
}

.weight600FontSize32 {
    font-weight: 600;
    font-size: 32px;
}

.blurDiv {
    background-image: url(images/bg_blur.png);
    background-repeat: no-repeat;
    width: 1200px;
    padding-left: 120px;
}

.bgimageDiv {
    background-image: url(images/bg_image.png);
    background-repeat: no-repeat;
    background-position: 125%;

    border-radius: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px 4px 4px 24px;
    gap: 16px;

    width: fit-content;

    background: #FFFFFF;

    border: 1px solid #E0E3EB;
    border-radius: 32px;

    input {
        width: 303px;
        border: none;
        height: 50%;
    }

    button {
        cursor: pointer;

        padding: 12px 16px;

        gap: 4px;

        background: #10B981;

        border: none;
        border-radius: 32px;

        color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 36px;
    }

    p {
        font-weight: 700;
        font-size: 16px;
        color: #1B1C57;

        margin-left: 12px;
        margin-right: 578px;
    }
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul {
        padding: 0;
        color: white;
        list-style-type: none;
    }

    ul :first-child {
        padding: 8px 14px;
    }

    li {
        box-sizing: border-box;

        padding: 8px 16px;

        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 32px;

        font-weight: 600;
        font-size: 14px;
        text-align: center;

        margin-right: 24px;
    }

    ul :last-child {
        padding: 8px 17px;
        background: #D1FAE5;

        color: green;
    }
}

.find-the-place {

    display: flex;

    height: 500px;

    h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        text-transform: capitalize;

        color: #1B1C57;
    }

    p:nth-child(2) {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.75;

        color: #626687;
    }

    .our-partnership-title {
        font-weight: 400;
        font-size: 16px;
        color: #888B97;
    }

    .partners {
        width: 427px;

        display: flex;
        justify-content: space-between;
    }

    .cards {
        display: flex;
        gap: 16px;

        position: relative;
        top: 75%;
        left: 12.5%;

        overflow: hidden;

        >div {
            display: flex;
            align-items: center;

            padding: 24px;
            gap: 16px;

            height: fit-content;

            background-color: #fff;
            border-radius: 32px;

            div {
                display: flex;
                flex-direction: column;
                gap: 2px;

            }

            p {
                margin: 0;
                white-space: nowrap;
            }
        }
    }
}

.our-recomendation {
    width: 1200px;
    padding-left: 120px;

    .our-recomendation-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        >p {
            font-weight: 600;
            font-size: 32px;
            color: #1B1C57;
            margin-top: 0;
        }

        .types-of-houses {
            display: flex;
            flex-direction: row;
            gap: 32px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                padding: 12px 24px;

                border: 1px solid #E0E3EB;
                border-radius: 32px;

                p {
                    margin: 0;
                }
            }

            .selected {
                background: #D1FAE5;
            }

            img {
                margin-right: 8px;
                height: 24px;
            }
        }
    }

    .houses-cards {
        justify-content: space-between;
        margin-top: 20px;

        .card {
            background-repeat: no-repeat;
            height: 382px;
            width: 340px;
            padding-top: 338px;

            div {
                width: fit-content;
                border-radius: 32px;
                padding: 8px 16px;
                margin-left: 12px;

                img {
                    margin-right: 10px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                }
            }

            .house-name {
                font-size: 24px;
                color: #0E1735;
                margin-top: 24px;
            }

            .house-price {
                font-size: 20px;
                color: #3C4563;
                margin-top: 8px;
            }
        }

        .card:nth-child(1) {
            background-image: url(images/house1.png);

            div {
                background: #FEE2E2;

                p {
                    color: #EF4444;
                }
            }
        }

        .card:nth-child(2) {
            background-image: url(images/house2.png);

            div {
                background: #DBEAFE;

                p {
                    color: #1D4ED8;
                }
            }
        }

        .card:nth-child(3) {
            background-image: url(images/house3.png);

            div {
                background: #D1FAE5;

                p {
                    color: green;
                }
            }
        }
    }
}

.ready-to-sell {
    justify-content: space-between;
    margin-top: -100px;

    p:first-child {
        margin-top: 0;
    }

    p:nth-child(2) {
        color: #1B1C57;
    }

    .house-description {
        font-weight: 400;
        font-size: 16px;
        color: #626687;
        opacity: 0.75;
    }

    .house-detail-title {
        color: #1B1C57;
        opacity: 0.75;
        font-weight: 600;
        font-size: 16px;
    }

    .flex-row-start {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 16px;
    }

    hr {
        background-color: #F0F3FD;
        border: none;
        width: 90%;
        height: 2px;
    }

    .seller-contact {
        gap: 24px;
        margin-top: 32px;

        p {
            margin: 0;
        }

        .seller-name {
            gap: 4px;
        }

        button {
            border: none;
            border-radius: 32px;

            padding: 12px 16px;
            background-color: #10B981;

            gap: 16px;

            p {
                margin: 0;
                color: #FFF;

                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
            }
        }
    }
}

.subscribe {
    background-image: url(images/bg_image2.png);
    background-repeat: no-repeat;
    background-position: 120px;

    height: 312px;
    margin-top: 120px;

    flex-direction: column;

    border-radius: 32px;

    >p {
        text-align: center;
        color: #1B1C57;
    }

    button {
        background-color: #1D4ED8;
        ;
    }
}

.bgimage {
    background-image: url(images/bg_image.png);

    position: absolute;
    width: 907px;
    height: 720px;
    left: 720px;
    top: 0px;
}

footer {
    margin-top: 75px;

    .social-links {
        margin-top: 24px;

        img:nth-child(2) {
            margin: 0 24px;
        }
    }

    .columns {
        align-items: baseline;
        justify-content: space-between;

        .column-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #0E1735;
            margin-right: 87px;
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: #626687;
        opacity: 0.75;
        margin-top: 16px;
    }
}